<h1>Eat-Da-Burger!</h1>
<div class="row">
    <div class="left-side col-xs-6 col-md-3">
        <h2>Burgers Ready to be Eaten!</h2>
        {{#each burgers}}
            {{#unless this.devoured}}
                {{!--Unordered list for burgers not devoured yet --}}
                <ul>
                    <li>
                        {{this.id}}. {{this.burger_name}}
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="false">
                            <button class="devour" type="submit">Devour it!</button>
                        </form>
                    </li>
                </ul>
              {{/unless}}             {{!-- End of unless this.devoured --}}
          {{/each}}               {{!-- End of each burger --}}
    </div>

    <div class="middle-section col-xs-6 col-md-3">
        <form class="create-form" action="/burgers/create" method="POST">
            <div class="form-group ">
                <h2>Add a Burger</h2>
                <label for="bur">Burger Name:</label>
                <input class="addBurg" type="text" id="bur" name="burger_name">
            </div>
            <button class="addBurg" type="submit">Add A Burger/Submit</button>
        </form>
    </div>

    <div class="right-side col-xs-6 col-md-3">
        <h2>Burgers Already Devoured!</h2>
        {{#each burgers}}
            {{#if this.devoured}}
                <ul>
                    <li>
                        {{this.id}}. {{this.burger_name}} 
                        {{!-- This is for the Handlebars form for devoured burgers to be --}}
                        {{!-- deleted from the MySQL database.  The form is found in the --}}
                        {{!-- views/partials/burgers folder.  You could use a similar structure --}}
                        {{!-- for non-devoured and devoured burgers and/or headers and footers. --}}
                        
                        {{> burgers/delete-burger}}

                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                        </form>
                    </li>
                </ul>
            {{/if}}             {{!-- End of unless this.devoured --}}
        {{/each}}               {{!-- End of each burger --}}
    </div>
</div>